Makefile*
!Makefile.PL

Build
_build_params

/MANIFEST
/MANIFEST.bak

/META.yml
/MYMETA.json
/MYMETA.yml

/pm_to_blib
/blib/
/fatlib/
/inc/

/cover_db/
/nytprof/

*/tmp/
/perl5/
/*.org/
/.build/

*#*
*_flymake.*
/scratch/

/.bash_history_local

/*.tar.gz

/t/**/mpan-dist/
/t/**/perl5/

/contrib/cpan-outdated/fatlib/

/contrib/cpan-outdated/cpan-outdated
/contrib/cpan-outdated/fatpacker.trace
/contrib/cpan-outdated/packlists
